@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@theme {
  --font-outfit: var(--font-outfit);
  --font-inter: var(--font-inter);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}
